.container{
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 3.5rem !important;
    padding: 0 1rem;
}
.btn{
    position: absolute;
    right: 4rem;
    top: 1rem;
}